.giveUp {
    background-color: #8cd3d5;
}

.newGame {
    background-color: #a0e083;
}

.log {
    background-color: #fdab7f;
}

.hint {
    background-color: #c27ffd;
}

.menuButton {
    border-radius: 10px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-family: "Audiowide", sans-serif;
    cursor: pointer;
    margin-top: 10%;

}

.disabledButton {
    filter: grayscale(100%);
    pointer-events: none;
}

.highlightButton {
    filter: brightness(60%);
}

.menuButton:hover {
    filter: brightness(90%);
}

@keyframes blink {
    0% {
        background-color: #a0e083;
    }
    /* Обычный цвет */
    50% {
        background-color: #ffcc00;
    }
    /* Жёлтый */
    100% {
        background-color: #a0e083;
    }
    /* Возвращается обратно */
}