.headerContainer {
    width: 100%;
    background-image: url("/bgCapibara2.png");
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;
    box-sizing: border-box;
    z-index: 1000;
}

.headerTaskContainer {
    width: 30%;
    height: 100%;
}


.headerBtnSolution {
    width: 35%;
    height: 100%;
}

.headerBtnTest {
    width: 35%;
    height: 100%;
}

.headerBtnRunCode {
    width: 30%;
    height: 100%;
}