.headerBtnSolution {
    width: 8%;
    height: 46%;
    background-image: url("/btnSolution1.png");
    /*border: none;*/
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-position: center;
    margin-left: 5%;

}

.headerBtnSolution:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .25));
}

.active {
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .25));
    filter: brightness(.92) contrast(1.75);
}

.active:hover {
    transform: scale(1.2);
    filter: brightness(.92) contrast(1.75);
}

.headerBtnSolutionDisabled {
    opacity: 0.8;
    cursor: not-allowed;
    filter: grayscale(100%);
    pointer-events: none;
}

