.searchContainer {
    display: flex;
    background-image: url('/searchInputCapibara3.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 16%; /*не работает без этого*/
    height: 100%; /*не работает без этого*/
    align-items: center;
    justify-content: center;

}

.inputField {
    text-align: left;
    margin-top: 3%;
    margin-left: -15%;
    height: 100%;
    width: 70%;
    border: none;
    align-items: center;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #496897; /* толщина и цвет ободка */
    text-stroke: 1px #496897; /* для других браузеров (не всегда работает) */
    color: rgba(151, 160, 204, 0.89);
    text-decoration: none;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.8vw;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
