/*.headerBtnTestContainer {*/
/*    width: 30%;*/
/*    height: 100%;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    gap: 1.5%;*/
/*}*/

.headerBtnTest {
    width: 170px;
    height: 75px;
    background-image: url("/btnTest1.png");
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-position: center;
}

.headerBtnTest:hover {
    /*transform: scale(1.2);*/
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .25));
}

.active {
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .25));
    filter: brightness(.92) contrast(1.75);
}

.active:hover {
    /*transform: scale(1.2);*/
    filter: brightness(.92) contrast(1.75);
}
