.headerBtnRunCode {
    background-image: url("/headerBtnRunCodeDoggy1.png");
    background-repeat: no-repeat;
    background-size: contain;
    /*cursor: pointer;*/
    align-items: center;
    justify-content: center;
    display: flex;
    width: 8%;
    height: 46%;
    background-position: center;
    margin-left: 2%;
    margin-right: 1%;

}

.headerBtnRunCode:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .25));
}

