.taskListContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550px;
    height: 100%;
    /*padding-left: 2%;*/
    /*margin-left: 50px;*/
}

/* кнопки-стрелки внутри контейнера */
.arrowButton {
    width: 150px;
    height: 120px;
    z-index: 2;
}

.dropButton {
    width: 200px;
    height: 50px;
    z-index: 1;
}

/*.deleteButton {*/
/*    background-color: #9826b1;*/
/*    z-index: 2;*/
/*    width: 10%;*/
/*    height: 50%;*/
/*}*/
