.AnswerInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    font-family: "Audiowide", sans-serif;
    gap: 3px;
}


.AnswerInput {
    width: 20%;
    border-radius: 10%;
    color: #0a0a0a;
    text-align: center;
    padding: 0 10px;
    outline: none;
}
.AnswerInputButton {
    background-color: #fd8282;
    border-radius: 10%;
    width: 10%;
}

.AnswerInputButton:hover {
    background: linear-gradient(250deg, #f8f211, #fc737e);
}

.AnswerInputButton:active {
    transform: scale(0.95); /* Уменьшаем кнопку на 5% */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); /* Уменьшаем тень */
}

@keyframes glow {
    0% { box-shadow: 0px 0px 10px rgba(255, 89, 24, 0.84); }
    50% { box-shadow: 0px 0px 20px rgba(255, 136, 0, 0.9); }
    100% { box-shadow: 0px 0px 10px rgba(79, 104, 245, 0.5); }
}

.AnswerInputButton:active {
    animation: glow 1.5s infinite alternate;
}