.catContainer{
    background-image: var(--bgSrc);
    float: left;
    width: 128px;
    height: 128px;
    background: var(--bgSrc) no-repeat;
    background-size: contain;
    animation: fadeIn 1.6s ease-in-out 0s; /* Задержка для сейфа */
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
    transform: translate(200%, -410%); /* Подгоняем к центру */
    z-index: 1000;
    display: flex;
    position: relative;
}

.catContainerPlaceholder {
    width: 128px;
    height: 128px;
    visibility: hidden;
}

@media (max-width: 600px) {
    .catContainer {
        float: none;
        position: absolute;
        top: min(76px, 15.2vw);
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
