.logViewContainer {
    border: 1px solid black;
    padding: 10px;
    max-height: 300px;
    min-width: 300px;
    background-color: #ededed;
    overflow-y: scroll;
}

.textStyle {
    color: #000000;
    font-size: 12px;
    font-family: "Audiowide", sans-serif;
}