.safeContainer {
    /*justify-content: center;*/
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;  /* Центрируем */
    left: 35%;
    /*transform: translate(50%, 55%);*/
    width: 100%; /* Можно уменьшить, если контейнер слишком большой */
    max-width: 900px; /* Ограничение по ширине */
    min-height: 500px; /* Нужно, чтобы `.catContainer` не "уплывал" */
    z-index: 500;
}

.safeAndMenuContainer {
    display: flex;
}

.headerText {
    color: #de778c;
    font-size: 50px;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    margin: 80px;
    max-width: 900px;
    user-select: none;
    --shadowSize: 2px;
    --shadowColor: #FFFFFF;
    text-shadow: var(--shadowSize) var(--shadowSize) 0 var(--shadowColor), var(--shadowSize) calc(var(--shadowSize) * -1) 0 var(--shadowColor), calc(var(--shadowSize) * -1) var(--shadowSize) 0 var(--shadowColor), var(--shadowSize) var(--shadowSize)0 var(--shadowColor);
}

.SafeCodeInputContainer {
    top: -90px;
    left: -10%;
    position: relative;

}

.giveUp {
    background-color: #8cd3d5;
}

.newGame {
    background-color: #a0e083;
}

.log {
    background-color: #fdab7f;
}

.hint {
    background-color: #c27ffd;
}

.menuButton {
    border-radius: 10px;
    margin-top: 15px;
    width: 200px ;
    height: 60px;
    font-size: 20px;
    font-family: "Audiowide", sans-serif;
    cursor: pointer;

}

.disabledButton {
    filter: grayscale(100%);
    pointer-events: none;
}

.highlightButton {
    filter: brightness(60%);
}
.menuButton:hover {
    filter: brightness(90%);
}
@keyframes blink {
    0% { background-color: #a0e083; }  /* Обычный цвет */
    50% { background-color: #ffcc00; } /* Жёлтый */
    100% { background-color: #a0e083; }  /* Возвращается обратно */
}

.newGameAfterGiveUp {
    animation: blink 1s infinite; /* Запускаем мигание */
}

.logWrapper {
    width: 100vw; /* Растягиваем по ширине */
    height: 100vh; /* Растягиваем по высоте */
    display: flex; /* Располагаем логи в ряд */
    touch-action: none;
}

/*.safeSettingsContainer {*/
/*    position: absolute;*/
/*    top: 5%;*/
/*    left: 95%;*/
/*    !*background:  url('/settings.png') no-repeat center center;*!*/
/*    !*background-size: contain;*!*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/


