.safeContainer {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.safeAndMenuContainer {
    display: flex;
}

.headerText {
    color: #de778c;
    font-size: 50px;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    margin: 80px;
    max-width: 900px;
    user-select: none;

    --shadowSize: 2px;
    --shadowColor: #FFFFFF;

    text-shadow: var(--shadowSize) var(--shadowSize) 0 var(--shadowColor), var(--shadowSize) calc(var(--shadowSize) * -1) 0 var(--shadowColor), calc(var(--shadowSize) * -1) var(--shadowSize) 0 var(--shadowColor), var(--shadowSize) var(--shadowSize)0 var(--shadowColor);
}

.AnswerInputContainer {
    top: -90px;
    position: relative;

}
