.settingContainer {
    position: relative;
    align-items: center;
    transform: translate(150%, -65%);
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
}




.safeSettingsButton {
    /*position: absolute;*/
    align-self: flex-start;
    margin-left: 15%;
    background:  url('/settings.png') no-repeat center center;
    background-size: contain;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.safeSettingsInputContainer {
    position: absolute;
    top: 9%;
    background:  url('/rangeInputBackground.png') no-repeat center center;
    background-size: contain;
    align-items: center;
    justify-content: center;
    width: 350px;
    height:350px;
    display: flex;
    flex-direction: column;
}

.inputsContainer {
    opacity: 0;
    visibility: hidden;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.safeSettingsInputContainer.show {
    opacity: 1;
    visibility: visible;
}


.inputsContainer.show {
    opacity: 1;
    visibility: visible;
}

.input {
    width: 50%;
    border: 1px solid #406ab4;
    background: linear-gradient(45deg, #cadcf1, #f5a9b8, #f5e8b4, #dea988);
    border: solid #4bc7c7;
    text-align: center;
    line-height: 50px;
    font-family: "Audiowide", sans-serif;
    color: #ffffff;
    border-radius: 40%;
    font-size: 28px;

}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.input[type="number"] {
    -moz-appearance: textfield;
}

.label {
    display: flex;
    justify-content: center; /* Центр по горизонтали */
    align-items: center; /* Центр по вертикали */
    border-radius: 5%;
    font-family: "Audiowide", sans-serif;
    color: #ffffff;
    font-size: 18px;
    background: linear-gradient(45deg, #2c71c1 20%, #5c227b 40%, #375c1a 60%, #3ec9c4 60%);
}

.inputWrapper {
    background-color: transparent;
    width: 300px;
    padding: 5px;
}

.safeSettingsButton:hover {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.inputsContainer {
    animation: fadeIn 0.4s ease-in-out;
}

.safeSettingsInputContainer {
    animation: fadeIn 0.3s ease-in-out;
}


.hidden {
    display: none;
}