.monsterSprite {
    position: absolute;
    --cols: 4.5; /* столбцов в атласе */
    --rows: 2.9; /* строкв атласе */
    background-image: url("/monstersSprite.png");

    right: 0;
    bottom: 0;
    width: 10%;
    height: 100%;
    background-size: calc(var(--cols) * 100%) calc(var(--rows) * 100%);
    background-repeat: no-repeat;
    overflow: hidden;
    image-rendering: pixelated;
    z-index: 1;
    scale: 1.3;
}