.headerContainer {
    background-image: url("/bgCapibara2.png");
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;
    box-sizing: border-box;

}

.searchContainer {
    width: 20%;
    height: 100%;
}

.headerTaskContainer {
    width: 30%;
    height: 100%;
}