.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchIcon {
    background: url('/searchIcon2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    height: 100%;
    width: 15%
}

.searchInput {
    height: 100%;
    min-width: 70%;
}
