.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
    background-image: url("/bgMainCapibara3.png");
    background-size: contain;
    background-repeat: repeat;
    gap: 1%;
}

.taskDetails {
    width: 40%;
    height: 100%;
    display: flex;
    min-height: 0;
}

.codeEditor {
    background-color: blue;
    width: 30%;
    height: 100%;
    /*flex: 1 1 auto;*/
    min-width: 0;
}

.taskSolution {
    background-color: blue;
    width: 30%;
    height: 100%;
    min-width: 0;
}