.btnTestInfo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    background-image: url("/headerBtnTestInfoAppleRed.png");
}

.default {
    user-select: none;
    filter: grayscale(100%) brightness(1.5) contrast(1.3) drop-shadow(0 0px 0px rgba(0, 0, 0, 0));
}

.default:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .25));
}

.disabled {
    opacity: 0.8;
    cursor: not-allowed;
    filter: grayscale(100%) brightness(2.0) contrast(1.8);
    pointer-events: none;
}

.success {
    background-image: url("/headerBtnTestInfoAppleGreen.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fail {
    background-image: url("/headerBtnTestInfoAppleRed.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fail:hover {
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .25)) brightness(1.5) contrast(1.3);
}

.success:hover {
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .25)) brightness(1.5) contrast(1.3);
}
