.mainTaskSolution :global(.monaco-editor .cursor) {
    opacity: 0 !important;
}

.mainTaskSolution {
    display: flex; /* чтоб textarea растягивалась */
    flex: 1 1 auto;
    align-items: stretch;
    padding: 12px 16px; /* отступ от рамки */
    cursor: default; /* не pointer, иначе неудобно печатать */
    --b: 18px; /* толщина рамки */
    --r: 24px; /* радиус */
    --alpha: .85; /* прозрачность белого внутри */
    border: var(--b) solid transparent;
    border-radius: calc(var(--r) + var(--b));
    background: linear-gradient(rgba(255, 255, 255, var(--alpha)),
    rgba(255, 255, 255, var(--alpha))) padding-box,
    url('/catMainSolution.png') border-box;
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .35);
    font-size: 14px;
    width: 50%; /*не работает без этого*/
    min-width: 0;
    height: 100%; /*не работает без этого*/
    min-height: 320px;
    align-items: center;
    /*margin-left: 1%;*/
    margin-right: 1%;
    box-sizing: border-box;
}

.editorHost {
    flex: 1 1 auto;
    height: 100%;
    min-height: 320px;
    min-width: 0;
}

.editor {
    flex: 1 1 auto;
    width: 50%;
    height: 100%;
    min-height: 240px; /* или 100%, если родителю задана высота */
    resize: vertical;
    border: 0;
    outline: none;
    background: transparent; /* пусть просвечивает твой белый фон рамки */

    color: #1e1e1e;
    caret-color: #2C4C1E;
    box-sizing: border-box;
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
    font-size: 14px;
    line-height: 1.4;
    tab-size: 2;
    white-space: pre-wrap;
    cursor: text;
    pointer-events: auto;
    user-select: text;
    z-index: 111;
}

.editor::selection {
    background: #b9f6c166;
}

.hiddenEditor {
    /*override the white/opaque padding-box gradient so only image background remains*/
    background: url('/catMainSolution.png') border-box;
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    box-shadow: none; /* remove inner white stroke if undesired */
    border: var(--b) solid transparent;
}