.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* вдоль колонки: сверху */
    align-items: center; /* по горизонтали: по центру */
    /*gap: 10px;*/
    width: 100%;
    max-width: 600px; /* контейнер не шире 600px */
    min-width: 400px;
    height: 100%; /* чтобы 80% было детерминировано */
    box-sizing: border-box;
    padding-bottom: 16px;
    padding-top: 10px;
    background: transparent;
}

.buttonsRow {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}


.mainBtnTest, .mainBtnRunCode {
    /*gap: 22px;*/
    display: inline-flex;
    width: 105px;
    height: 80px;
}

.codeEditorFrame {
    display: flex; /* чтобы .editor растягивался */
    width: 100%;
    max-width: 600px;

    height: 80%; /* 80% высоты контейнера */
    min-height: 0;

    padding: 12px 16px;
    cursor: default;

    --b: 18px;
    --r: 24px;
    --alpha: .85;

    border: var(--b) solid transparent;
    border-radius: calc(var(--r) + var(--b));
    background: linear-gradient(rgba(255, 255, 255, var(--alpha)), rgba(255, 255, 255, var(--alpha))) padding-box,
    conic-gradient(#ff9bc4, #ffc08a, #ffe782, #b9f6c1, #a4d7ff, #c6b5ff, #ff9bc4) border-box;

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .35);
}

.editor {
    flex: 1 1 auto; /* занять всё внутри рамки */
    min-height: 240px;
    min-width: 300px;
    resize: none;
    border: 0;
    outline: none;
    background: transparent;
    color: #1e1e1e;
    caret-color: #2C4C1E;
    box-sizing: border-box;

    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
    font-size: 14px;
    line-height: 1.4;
    tab-size: 2;
    white-space: pre;
}

.editor::selection {
    background: #b9f6c166;
}